* {
  font-family: "Open Sans";
  margin: 0;
  padding: 0;
}

.btn-home a,
.btn-course a,
.btn-community a,
.btn-login a,
.btn-register a {
  text-decoration: none;
  color: inherit;
}

select{
  border: none;
}

.btn-main {
  background-color: #f8f9fa;
  font-weight: bolder;
  padding: 8px 20px;
  border-radius: 8px;
  border: none;
 
}

.btn-second {
  background-color: #14a7a0;
  font-weight: bolder;
  color: white;
  padding: 8px 20px;
  border-radius: 8px;
  border: none;
  

}

.btn-dropdown .btn-home {
  margin-right: 50px;
}

.btn-register {
  margin-right: 9px;
  
}


.btn-community {
  margin-right: 60px;
  margin-left: 10px;
}

.btn-dropdown {
  font-weight: bolder;
  color: #8f9498;
  background-color: white;
  border: none;
}

.navbar {
  margin-bottom: 0;
}



.container-banner {
  background:url(asset/banner.svg) no-repeat;
  background-size: cover;
  margin-top: 1px;
  min-height: 400px;
}

.content-1{
  /* margin-top: 10px;  */
  /* background-color: ; */
  padding-left: 70px;
  padding-top: 100px;
  margin-bottom: 25px;
  color: white; 
  font-weight: bolder;
  font-size: 30px;

}

.container-banner span{
  padding: auto;
  padding-left: 70px;
  margin: auto;
  color: white; 
  /* background-color: red ; */
}

.card-group{
  padding: 4em;
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 50px;
  row-gap: 20px;
  
}

.card{
  border: none;
  max-width: 30em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* border-radius: 20px; */
}

.card-body{
  border-radius: 50px;
  display: flex;
  align-content: start;
  flex-direction: row;
}

.card img{
  max-width: 25%;
  margin: auto;
  padding: 0.5em;
  border-radius: 0.7em;
}

.text-section{
  color: #212529;
  max-width: 60%;
}

.card-title{
  font-weight: bolder;

}




