*{
    font-family: 'Open Sans';
}

.btn-main{
    background-color: #F8F9FA;
    font-weight: bolder;
    padding: 8px 20px;
    border-radius: 8px; 
    border: none; 
}

.btn-second{
    background-color: #14A7A0;
    font-weight: bolder;
    color: white; 
    padding: 8px 20px;
    border-radius: 8px; 
    border: none; 
}

.btn-register{
    margin-right: 90px;
}


.btn-community{
    margin-right: 50px;
    margin-left: 10px;
}

.btn-dropdown{
    font-weight: bolder;
    color: #8f9498;
    background-color: white;
    border: none;

}